HELM_EMAIL=your_email@example.com
HELM_PASSWORD=your_password
HEADLESS=false
DEBUG=false
CA_APPLICATION_ID=your_ca_application_id
CA_SHARED_SECRET=your_ca_shared_secret
CA_REFRESH_TOKEN=your_ca_refresh_token
CA_PROFILE_ID=your_ca_profile_id